<!DOCTYPE>
<html ng-app="myApp">
<head>
    <title>User </title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ngProgress.css">
    <link rel="stylesheet" href="css/toaster.css">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-cloak>
<div class="container" ng-controller="UsersCtrl">
    <form name="Codenx" novalidate>
        <table class="table">
            <thead>
            <tr>
                <th>Firs Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="user in users">
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-danger" ng-click="remove(user)">Remove</button>
                        <button class="btn btn-warning" ng-click="edit(user._id)">Edit</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</div>

<div data-loading></div>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>

<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/ngProgress.min.js"></script>
<script src="js/toaster.js"></script>
<script src="app/app.js"></script>
<script src="app/users.js"></script>
</body>
</html>
